<a href="../templates/events.html" class="u-back"><i class="fa fa-angle-left" aria-hidden="true" ></i>Back</a>
<form action="#">
  <h2 class="heading-secondary">Get on the Guest List</h2>
  <div class="form-group form-group--half">
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" placeholder="First Name" required>
  </div>
  <div class="form-group form-group--half">
    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" placeholder="Last Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="phone" id="phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <input type="submit" value="RSVP" class="btn btn--gold">
  </div>
</form>