<footer class="footer">
  <div class="footer__subscribe-form">
    <h2>Join the Club & Get Updates on Special Events </h2>
    <form action="#">
      <input type="email" placeholder="Email Address">
      <!-- <a href="#" class="btn btn--gold">Subscribe Now</a> -->
      <input type="submit" value="Subscribe Now" class="btn btn--gold">
    </form>
  </div>
  
  <div class="footer__additional">
    <div class="footer__follow">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    
    <div class="footer__copyrights">
      &copy; 2017 Developed by RPR_Maddi. Design by Wix.com 
    </div>
  </div>
</footer>