html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url('../images/background.jpg');
  background-size: cover;
  font-weight: 200;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.active {
  opacity: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p {
  font-size: 1.8rem;
  color: $color-gold;
  line-height: 1.4;
}