<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Event Manager | Events</title>
  </head>
  <body>
    <!-- Header -->
    <%= require('html-loader!./partials/_header.html')%>
  
    <!-- Main Content From here -->
    <main>
      <section class="section-events">
        <h2>Upcoming Events</h2>
        <div class="section-events__list">
          <div class="event row">
            <div class="event__date">
              <span class="event__date--date">05</span>
              <span class="event__date--day">Thu</span>
              <span class="event__date--month">Jan</span>
            </div>
            <div class="event__artist"><span>Tyler Reece</span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="event__rsvp"><a href="rsvp.html" class="btn btn--gold">RSVP</a></div>
            <div class="event__details">
              <p>05th Jan, 2017 at 6:30pm IST.</p>
              <p>Black Pearl Bar, Chennai, TamilNadu, India.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur eum aliquam vel dolores. Cupiditate dignissimos sapiente ducimus, molestias  Perspiciatis, quibusdam placeat molestias.</p>        
              <p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
          <div class="event row">
            <div class="event__date">
              <span class="event__date--date">06</span>
              <span class="event__date--day">Fri</span>
              <span class="event__date--month">Jan</span>
            </div>
            <div class="event__artist"><span>Emilia Cole</span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="event__rsvp"><a href="rsvp.html" class="btn btn--gold">RSVP</a></div>
            <div class="event__details">
              <p>05th Jan, 2017 at 6:30pm IST.</p>
              <p>Black Pearl Bar, Chennai, TamilNadu, India.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur eum aliquam vel dolores. Cupiditate dignissimos sapiente ducimus, molestias  Perspiciatis, quibusdam placeat molestias.</p>        
              <p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
          <div class="event row">
            <div class="event__date">
              <span class="event__date--date">07</span>
              <span class="event__date--day">Sat</span>
              <span class="event__date--month">Jan</span>
            </div>
            <div class="event__artist"><span>The Toxic Void</span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="event__rsvp"><a href="rsvp.html" class="btn btn--gold">RSVP</a></div>
            <div class="event__details">
              <p>05th Jan, 2017 at 6:30pm IST.</p>
              <p>Black Pearl Bar, Chennai, TamilNadu, India.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur eum aliquam vel dolores. Cupiditate dignissimos sapiente ducimus, molestias  Perspiciatis, quibusdam placeat molestias.</p>        
              <p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
          <div class="event row">
            <div class="event__date">
              <span class="event__date--date">08</span>
              <span class="event__date--day">Sun</span>
              <span class="event__date--month">Jan</span>
            </div>
            <div class="event__artist"><span>Patrick Thomas</span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="event__rsvp"><a href="rsvp.html" class="btn btn--gold">RSVP</a></div>
            <div class="event__details">
              <p>05th Jan, 2017 at 6:30pm IST.</p>
              <p>Black Pearl Bar, Chennai, TamilNadu, India.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur eum aliquam vel dolores. Cupiditate dignissimos sapiente ducimus, molestias  Perspiciatis, quibusdam placeat molestias.</p>        
              <p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
          <div class="event row">
            <div class="event__date">
              <span class="event__date--date">09</span>
              <span class="event__date--day">Mon</span>
              <span class="event__date--month">Jan</span>
            </div>
            <div class="event__artist"><span>Alexia Hill</span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="event__rsvp"><a href="rsvp.html" class="btn btn--gold">RSVP</a></div>
            <div class="event__details">
              <p>05th Jan, 2017 at 6:30pm IST.</p>
              <p>Black Pearl Bar, Chennai, TamilNadu, India.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur eum aliquam vel dolores. Cupiditate dignissimos sapiente ducimus, molestias  Perspiciatis, quibusdam placeat molestias.</p>        
              <p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
          <div class="event row">
            <div class="event__date">
              <span class="event__date--date">10</span>
              <span class="event__date--day">Tue</span>
              <span class="event__date--month">Jan</span>
            </div>
            <div class="event__artist"><span>John Buckley</span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="event__rsvp"><a href="rsvp.html" class="btn btn--gold">RSVP</a></div>
            <div class="event__details">
              <p>05th Jan, 2017 at 6:30pm IST.</p>
              <p>Black Pearl Bar, Chennai, TamilNadu, India.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur eum aliquam vel dolores. Cupiditate dignissimos sapiente ducimus, molestias  Perspiciatis, quibusdam placeat molestias.</p>        
              <p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
          <div class="event row">
            <div class="event__date">
              <span class="event__date--date">11</span>
              <span class="event__date--day">Wed</span>
              <span class="event__date--month">Jan</span>
            </div>
            <div class="event__artist"><span>Michael Smidth</span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            <div class="event__rsvp"><a href="rsvp.html" class="btn btn--gold">RSVP</a></div>
            <div class="event__details">
              <p>05th Jan, 2017 at 6:30pm IST.</p>
              <p>Black Pearl Bar, Chennai, TamilNadu, India.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur eum aliquam vel dolores. Cupiditate dignissimos sapiente ducimus, molestias  Perspiciatis, quibusdam placeat molestias.</p>        
              <p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <!-- Footer goes here -->
    <%= require('html-loader!./partials/_footer.html')%>
  </body>
</html>`