<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Event Manager</title>
  </head>
  <body>
    <!-- Header -->
      <%= require('html-loader!./partials/_header.html') %>
    <!-- End of Header/ -->
    
    <!-- Main Content -->
    <main>
      
      <!-- Home section which contains parallax image and contact details -->
      <section class="section-home">
        <div class="parallax parallax--1"></div>
        <div class="section-home__address">
          <address class="section-home__details">
            <div class="section-home__details__est">
              <span>EST.</span>
              <span>2013</span>
            </div>
            <div class="section-home__details__name">
              <h1 class="heading-primary">
                <span>121</span>
                <span>BAR</span>
              </h1>
            </div>
            <div class="section-home__details__street">
              <span>500 Terry Francois St.</span>
            </div>
            <div class="section-home__details__city">
              <span>San Francisco, CA 94158</span>
            </div>
            <div class="section-home__details__timings">
              <span>Open from 5PM - 2AM</span>
            </div>
          </address>
        </div>
      </section>
      <!-- End of home section -->
      
      <!-- About section -->
      <section class="section-about">
        <h2 class="heading-secondary">About</h2>
        <h3 class="heading-tertiary u-text-white">Your Neighbourhood Institution</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, aut. Sint nemo earum veritatis, quisquam quos ab deleniti ut, ipsum asperiores officia voluptatum quia consequatur dicta, omnis minima nostrum sit.</p>
        <a href="#" class="link-next">&#8964;</a>
      </section>
      <!-- End of about -->
      
      <section class="section-showcase u-clearfix">
        <!-- Happy Hours -->
        <div class="section-showcase__happy-hours">
          <div class="section-showcase__img-beer">&</div>
          <div class="section-showcase__content">
            <h2 class="heading-secondary">Happy Hour</h2>
            <h3 class="heading-tertiary u-text-white">Craft Beer Tuesday</h3>
            <div class="section-showcase__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, aut. Sint nemo earum veritatis, quisquam quos ab deleniti ut, ipsum asperiores officia voluptatum quia consequatur dicta, omnis minima nostrum sit.</p>
            </div>
          </div>
        </div>
        
        <!-- Music -->
        <div class="section-showcase__music">
          <div class="section-showcase__img-music">&</div>
          <div class="section-showcase__content">
            <h2 class="heading-secondary">About</h2>
            <h3 class="heading-tertiary u-text-white">Your Neighbourhood Institution</h3>
            <div class="section-showcase__text">
              <p class="cust-bordered">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, aut. Sint nemo earum veritatis, quisquam quos ab deleniti ut, ipsum asperiores officia voluptatum quia consequatur dicta, omnis minima nostrum sit.</p>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Parallax Restaurant Image -->
      <div class="parallax parallax--1"></div>
      
      <!-- Contactus Form -->
      <section>
        <div class="section-contact">
          <h3 class="heading-tertiary u-text-white">Contact Us</h3>
          <div class="section-contact__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, aut. Sint nemo earum veritatis, quisquam quos ab deleniti ut, ipsum asperiores officia voluptatum quia consequatur dicta, omnis minima nostrum sit.</p>
            <p class="cust-bordered">
              <span class="section-contact__number">123-456-7890</span>
              <span class="section-contact__email">rpr@maddi.com</span>
            </p>
          </div>
        </div>
        <div class="section-book">
          <form action="#">
            <h2 class="heading-secondary">Book A Table</h2>
            <div class="form-group">
              <input type="date">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Time" class="select">
              <div class="select-options">
                <span>12 AM</span>
                <span>12:15 AM</span>
                <span>12:30 AM</span>
                <span>12:45 AM</span>
                <span>1 AM</span>
                <span>1:15 AM</span>
                <span>1:30 AM</span>
                <span>1:45 AM</span>
                <span>2 AM</span>
                <span>2:15 AM</span>
                <span>2:30 AM</span>
                <span>2:45 AM</span>
                <span>3 AM</span>
                <span>3:15 AM</span>
                <span>3:30 AM</span>
                <span>3:45 AM</span>
                <span>4 AM</span>
                <span>4:15 AM</span>
                <span>4:30 AM</span>
                <span>4:45 AM</span>
                <span>5 AM</span>
                <span>5:15 AM</span>
                <span>5:30 AM</span>
                <span>5:45 AM</span>
                <span>6 AM</span>
                <span>6:15 AM</span>
                <span>6:30 AM</span>
                <span>6:45 AM</span>
                <span>7 AM</span>
                <span>7:15 AM</span>
                <span>7:30 AM</span>
                <span>7:45 AM</span>
                <span>8 AM</span>
                <span>8:15 AM</span>
                <span>8:30 AM</span>
                <span>8:45 AM</span>
                <span>9 AM</span>
                <span>9:15 AM</span>
                <span>9:30 AM</span>
                <span>9:45 AM</span>
                <span>10 AM</span>
                <span>10:15 AM</span>
                <span>10:30 AM</span>
                <span>10:45 AM</span>
                <span>11 AM</span>
                <span>11:15 AM</span>
                <span>11:30 AM</span>
                <span>11:45 AM</span>
                
                <span>12 PM</span>
                <span>12:15 PM</span>
                <span>12:30 PM</span>
                <span>12:45 PM</span>
                <span>1 PM</span>
                <span>1:15 PM</span>
                <span>1:30 PM</span>
                <span>1:45 PM</span>
                <span>2 PM</span>
                <span>2:15 PM</span>
                <span>2:30 PM</span>
                <span>2:45 PM</span>
                <span>3 PM</span>
                <span>3:15 PM</span>
                <span>3:30 PM</span>
                <span>3:45 PM</span>
                <span>4 PM</span>
                <span>4:15 PM</span>
                <span>4:30 PM</span>
                <span>4:45 PM</span>
                <span>5 PM</span>
                <span>5:15 PM</span>
                <span>5:30 PM</span>
                <span>5:45 PM</span>
                <span>6 PM</span>
                <span>6:15 PM</span>
                <span>6:30 PM</span>
                <span>6:45 PM</span>
                <span>7 PM</span>
                <span>7:15 PM</span>
                <span>7:30 PM</span>
                <span>7:45 PM</span>
                <span>8 PM</span>
                <span>8:15 PM</span>
                <span>8:30 PM</span>
                <span>8:45 PM</span>
                <span>9 PM</span>
                <span>9:15 PM</span>
                <span>9:30 PM</span>
                <span>9:45 PM</span>
                <span>10 PM</span>
                <span>10:15 PM</span>
                <span>10:30 PM</span>
                <span>10:45 PM</span>
                <span>11 PM</span>
                <span>11:15 PM</span>
                <span>11:30 PM</span>
                <span>11:45 PM</span>
              </div>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Party Size" class="select">
              <div class="select-options">
                <span>1 Person</span>
                <span>2 People</span>
                <span>3 People</span>
                <span>4 People</span>
                <span>5 People</span>
                <span>6 People</span>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Book Now" class="btn btn--gold" />
            </div>
            <!-- <button class="btn btn--gold">Book Now</button> -->
          </form>
        </div>
      </section>
      <!-- End of Contactus -->
      
      <section>
        <div id="map"></div>
      </section>
    </main>
    
    <%= require('html-loader!./partials/_footer.html')%>
    <!-- Main Content Ends Here -->
  </body>
</html>