<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Event Manager | Booking Form</title>
  </head>
  <body>
    <!-- Header -->
    <%= require('html-loader!./partials/_header.html')%>
  
    <!-- Main Content From here -->
    <main>
      <section class="section-rsvp rsvp">
        <div class="rsvp__form">
          <%= require('html-loader!./partials/_book_form.html')%>
        </div>
        
        <div class="rsvp__details">
          <h2>Emilia Cole</h2>
          <p>
            <span>Jan 6, 2018</span>
            <span>9:00pm IST</span>
            <span>Black Pearl Bar</span>
          </p>
        </div>
      </section>
    </main>

    <!-- Footer goes here -->
    <%= require('html-loader!./partials/_footer.html')%>
  </body>
</html>`