// Colors
$color-black: #05101A;
$color-white: #fff;
$color-gold: #928462;
$color-grey: #374048;
$color-darkblue: #05101A;
$color-darkblack: #041019;

// Z-indexes
$z-index-xs: 1;
$z-index-small: 5;
$z-index-medium: 10;
$z-index-large: 50;
$z-index-xl: 100;
$z-index-xxl: 1000;

